@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap");

:root {
    --light-grey: #f4f4f4;
    --light-grey-05: rgba(238, 238, 238, 0.5);
    --light-black: #404040;

    --univercity: #001f54;
    --self-learning: #008080;
    --self-training: #32cd32;
    --self-hard: #db2100;

    --box-shadow1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    --border-1px-05: 1px solid rgb(0, 0, 0, 0.5);
    --border-1px-01: 1px solid rgb(0, 0, 0, 0.1);
    --border-r-10: 10px;
    --border-r-5: 5px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: "Carlito", sans-serif;
    line-height: 1.6;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    background-color: var(--light-black);
}
nav {
    max-width: 1200px;
    margin: 0 auto;
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.contact-container {
    color: #fff;
}

.contact-container a {
    color: #ffffff;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav h3 {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 500;
}

.clickme {
    padding: 0.5rem 0.5rem;
    animation: fade 4s infinite ease;
    background-color: var(--light-black);
    border-radius: 5px;
}

@keyframes fade {
    0% {
        background-color: rgb(37, 37, 37);
    }
    50% {
        background-color: rgb(94, 94, 94);
    }
    100% {
        background-color: rgb(37, 37, 37);
    }
}

/* 
*
*
*
*
*
main */
.go-home button {
    background-color: var(--light-black);
    color: #fff;
    padding: 10px 15px;
    border: 0.5px solid transparent;
    transition: 0.2s ease;
    cursor: pointer;
    gap: 7px;
}

.go-home button:hover {
    background-color: #fff;
    color: var(--light-black);
    border: 0.5px solid var(--light-black);
}
main {
    max-width: 900px;
    padding: 0 1rem;
    margin: 2rem auto;
    background-color: transparent;
}

main video {
    margin-top: 0.7rem;
}

main h3 {
    margin-top: 1rem;
}

.btn {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin: 0.1rem;
    background-color: var(--self-hard);
    color: #fff;
}

/* flex lib */
.d-flex {
    display: flex;
}
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.d-flex-jsc-c {
    display: flex;
    justify-content: center;
}
.d-flex-ali-c {
    display: flex;
    align-items: center;
}
.d-flex-jsc-ali-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end flex lib */

.image-carousel-container {
    max-width: 100%;
    margin: auto;
    overflow: hidden; /* Ensures images don't overflow parent */
}

.carousel-image {
    width: 100%;
    max-height: 400px; /* Limit image height */
    object-fit: fill; /* Maintain aspect ratio and cover entire container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.carousel-controls {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 3px 15px;
    margin: 5px 1px;
    background-color: #393d42; /* Example button color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #4d4f50; /* Darker shade on hover */
}

/* 
*
*
*
*
*
* media section */
.no-media-data {
    margin: 2rem auto;
    border: 1px solid black;
    width: 400px;
    border-radius: 10px;
    padding: 1rem;
}

.no-media-data img {
    width: 150px;
}

@media screen and (max-width: 700px) {
    .no-media-data {
        width: 280px;
    }

    .no-media-data img {
        width: 120px;
    }
}
